/* Capitaine Train variant. */
html {
  background-color: #89c5be;
  color: #094352;
}
html:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 100%;
  background-image: url(/assets/illustrations/footer.png);
  width: 100%;
  height: 100%;
  opacity : 0.4;
  z-index: -1;
}

header.slide {
  background-color: #71af69;
  color: #fff;
}

/* Per conference logo in front page. */
section header#slide1 {
  background-color: #89c9c4;
  background-image: url(/assets/illustrations/ct-cover.png);
  background-repeat: no-repeat;
  background-position: 30% bottom;
  background-size: 100%;
  border: none;
}
section header#slide1 h1 {
  top: 30%;
  color: white;
  left: 10%;
  right: 10%;
}

section.slide.demo {
  background: url(/assets/illustrations/demo.png) no-repeat 50% 75%;
  background-size: 70%;
  background-color: #89c5be;
  border-width: 20px;
}
section.slide.demo h3 {
  margin-top: 0;
  color: white;
}

.slide hr {
  margin: 0.5in;
}

.slide h3 {
  margin-top: 0.5em;
  margin-left: 0.5em;
}

.slide p {
  margin-left: 1.5em;
}
.slide ul {
  margin-left: 0.9em;
  margin-left: 1.5em;
}
.slide pre {
  background-color: #b0dbd6;
  border-width: 1px;
  margin-left: 4em;
  margin-right: 4em;
  font-size: 50%;
  padding-left: 0.6em;
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
.slide pre code {
  color: #222222;
  background-color: inherit;
  margin: 0;
}

.slide > ul > li:before {
  content: '·';
  color: #1f7972;
  padding-right: .4em;
}

.slide a {
  color: #1d6ba2;
}

section header[data-title='( psss: billets pour Noël disponibles )'] {
  font-size: 0.23in;
  background-image: url(/assets/illustrations/cover-christmas.png);
  background-repeat: no-repeat;
  background-position: 50% 80%;
}
